@model AspDataViewModel.ViewModels.PeopleViewModel


<h2>People Management</h2>

        <h3>Add Person</h3>
        <form asp-action="PeopleView" asp-controller="People" method="post" id="myForm">

            @*<label asp-for="Name"></label>*@
            <input asp-for="CreatePersonVM.Name" id="name" placeholder="Name" />

            @*<label asp-for="PhoneNumber"></label>*@
            <input asp-for="CreatePersonVM.PhoneNumber" id="phoneNumber" placeholder="Phone Number" />

            @*<label asp-for="City"></label>*@
            <!--<input asp-for="CreatePersonVM.City" id="city" placeholder="City" />-->
            <select asp-for="CreatePersonVM.City">
                <option value="" disabled>Select a City</option>
                @foreach (City items in Model.cityList)
                {
                    <option value="@items.CityId"> @items.CityName</option>
                }
            </select>

            <select asp-for="CreatePersonVM.languageArray" id="selectedId" multiple>
                <option value="" disabled>Select a Language</option>
                @foreach (var items in Model.languageList)
                {
                    <option value="@items.LanguageId"> @items.LanguageName</option>
                }
            </select>

           
            <button type="submit">Add Person</button>
            <input type="button" onclick="formReset()" value="Reset" id="reset" />
            <input type="submit" value="Update" asp-action="UpDate">


        </form>
        <form class="searchform" asp-action="FindByViewModel" method="post">
            <label asp-for="FilterText">Serach Person </label>
            <input asp-for="FilterText" />
        </form>
<br/>


        

        <div class="infocontainer">
            <div class="row fs-5">
                <div class="col">Person Id</div>
                <div class="col">Name</div>
                <div class="col">Phone Number</div>
                <div class="col">City</div>
                <div class="col">Language</div>
                <div class="col">Country</div>
                <div class="col"></div>
                <div class="col"></div>

            </div>
            @foreach (var item in Model.peopleList)
            {

                <partial name="_peoplePartialView.cshtml" model="item" />

            }
          

        </div>













