body {
}
.flexcontainer {
    display: flex;
    flex-direction:row;
    flex-wrap:nowrap;
    align-items:self-start;
    background-color: lightblue;
}
.searchform{
    margin-top:5px;
    text-align:center;
    background-color:lightblue;
}
.flex-row {
    display:flex;
    flex-direction:row;
    justify-items:flex-start;
    align-items:center;
}
.flex-row > div{
    justify-items:center;
}
