body {
}
.flexcontainer {
    display: flex;
    flex-direction:row;
    flex-wrap:nowrap;
    align-items:self-start;
    background-color: lightblue;
}
.searchform{
    margin-top:5px;
    text-align:center;
    background-color:lightblue;
}
.infocontainer{
   }
