@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-sm-8 col-md-8 col-lg-4">          
                 <p>Are you sure you want to Logout</p>
                <p>
                    <button name="button" value="Yes" class="btn btn-primary">Yes</button>
                    <button name="button" value="No" @*asp-action="NotLogoutView"*@ class="btn btn-light ml-5 border-dark">No</button>
                </p>

            </div>
        </div>
    </div>
</form>