@model AspDataViewModel.ViewModels.PeopleViewModel

<tr>
    <td>@Html.DisplayNameFor(modelItem => Model.CreatePersonViewModel.PersonId)</td>

    <td>@Html.DisplayNameFor(modelItem => Model.CreatePersonViewModel.Name)</td>

    <td>@Html.DisplayNameFor(modelItem => Model.CreatePersonViewModel.PhoneNumber)</td>
    <td>@Html.DisplayNameFor(modelItem => Model.CreatePersonViewModel.CityName)</td>

</tr>
