@model AspDataViewModel.ViewModels.PeopleViewModel

<tr>
    @*<td>@Html.DisplayNameFor(modelItem => Model.CreatePersonVM.)</td>*@

    <td>@Html.DisplayNameFor(modelItem => Model.CreatePersonVM.Name)</td>

    <td>@Html.DisplayNameFor(modelItem => Model.CreatePersonVM.PhoneNumber)</td>
    <td>@Html.DisplayNameFor(modelItem => Model.CreatePersonVM.City)</td>

</tr>
