@model List<Person>

<div class="infocontainer">
    <div class="row fs-5">
        <div class="col">Person Id</div>
        <div class="col">Name</div>
        <div class="col">Phone Number</div>
        <div class="col">City</div>
        <div class="col">Language</div>
        <div class="col">Country</div>
        <div class="col"></div>
        <div class="col"></div>

    </div>


    @foreach (Person per in Model)
    {
        <partial name="../People/_peoplePartialView.cshtml" model="per" />
    }
</div>

